.catLogo {
	font-family: 'VAG Round Cyrillic', serif;
    margin-right: width;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    border-radius: 25px;
    padding-left: 21px;
}
.catlileft {
	font-family: 'VAG Round Cyrillic', serif;
	margin-bottom: 10px;
	
}

.shop {
	font-family: 'VAG Round Cyrillic', serif;
    padding: 20px;
    border-radius: 25px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: flex;
    background-color: white;
}
.imageProd img{

    max-width: 200px;
	height: auto;
	max-height: 200px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	
}

.sort select{
	border-radius: 10px;
    font-size: 18px;
}




.imageProd {
	height: 192px;
}
.blockShop {
	margin-top: 20px;
	margin-left: 20px;
}

.shopUnit {
	margin-top: 20px;
    padding: 20px;
    position: relative;
    float: left;
    width: 240px;
    height: 379px;
    align-items: center;
    justify-content: center;
        border: 1px solid #79a9f9;
    
}

.shopUnit:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    transition: all 1s ease;
}


.shopCat {
	min-width: 300px;
	height: 400px;
}
.chatacteristicsShop{
	font-family: 'VAG Round Cyrillic', serif;
	font-size: 14px;
	height: : 130px;
	

}
.actionShop a {
	margin-left: -131px;
    font-family: 'VAG Round Cyrillic', serif;
    padding: 14px;
    padding-right: 15px;
    font-size: 18px;
    margin-bottom: 29px;
    top: 10px;
    border: 2px solid #79a9f9;
    color: #79a9f9;
    border-radius: 34px;
    background-color: white;
    text-align: center;
}
.actionShop {
	
width: 240px;
    text-align: center;
    margin: -20px;
    margin-bottom: 10px;
    margin-top: 10px;

}


.sort{
	margin-left: 10px;
}

.catleft {
    display: inline-block;
    
    color: #787878;
    line-height: 1;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

   
}

.catleft:hover{
	 color: black;

}

.catleft:after {
    background-color: #79a9f9;
   
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.catleft:hover:after,
.catleft:focus:after {
    width: 100%;
}







.actionShop a:hover {

        background-color: #79a9f9;
        color: white;
        transition: all 1s ease;
    }


.price {
	font-family: 'VAG Round Cyrillic', serif;
    font-size: 18px;
    position: absolute;
    padding-left: 60px;
    bottom: 13px;
}
.name {
	height: 50px;
    width: 226px;
    font-size: 15px;
    text-align: center;
    margin-left: -16px;
}

.country {
	margin-left: 20px;
	color: #999999;
}

.manufacturer{
	padding-left: 5px;

	color: #999999;
}
.weight{
	padding-left: 5px;
	
}


@media (max-width: 909px){
	.shop {
		display: block;
	}
	.blockShop {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: auto;
		

	}
	
	.shopUnit {
		float: none;
		margin: auto;
	}
}